<div>
  <h1>Productos de Limpieza: </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Lavandina</td>
        <td>{{ 10 | currency }}</td>
        <button class="btn btn-outline-primary" [routerLink]="['/productos', 'red', 'Lavandina']">Ver Detalle</button>
      </tr>
      <tr>
        <th>2</th>
        <td>Jabón</td>
        <td>{{ 7 | currency }}</td>
        <button class="btn btn-outline-primary" [routerLink]="['/productos', 'yellow', 'Jabon']">Ver Detalle</button>
      </tr>
      <tr>
        <th>3</th>
        <td>Limpia Vidrios</td>
        <td>{{ 5 | currency }}</td>
        <button class="btn btn-outline-primary" [routerLink]="['/productos', 'green', 'Limpia Vidrios']">Ver Detalle</button>
      </tr>
    </tbody>
  </table>

  <div>
    <ul>
      <li *ngFor="let item of arrayProductos">
         {{item.id}} - {{item.title}}
      </li>
    </ul>
  </div>
  
</div>

